{% extends "base.html" %}

{% block contents %}
    <!-- About banner header -->
        <header class="banner">
            <div class="container">
            </div>
        </header>
        <!-- About header -->
        <div class="container">
            <div class="masthead-md masthead-heading">
                <div class="container-fluid d-flex align-items-center flex-column">
                    <h2 class="masthead-heading mb-2">About</h2>
                </div>
            </div>
        </div>
        <!-- Description-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <blockquote class="blockquote text-center">"Interviews with People around 42Seoul" </blockquote>
                    <p class="paragraph text-center">
                        Humans of 42는<br>
                        42서울 사람들의 시시콜콜한 이야기를 담습니다.<br>
                        눈인사해 온 사람들의 진솔하고 고유한 목소리를 들어보세요.<br>
                        인터뷰이는 우연히 마주친 이들에게 요청하거나 제보를 통해 선정합니다.<br>
                        개발에 관한 생각, 소중한 무언가, 개인적인 고민 등 이야기를 들려주세요.
                    </p>
                </div>
            </div>
        </div>

        <!-- Members header-->
        <header class="mt-5 masthead-heading">
            <div class="container-fluid d-flex align-items-center flex-column">
                <h2 class="masthead-heading mb-2">Members</h2>
            </div>
        </header>
        <!--! Members Description-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="paragraph text-center">
                        Humans of 42는<br>
                        42서울의 카뎃이 기획하고 만듭니다.<br>
                        인터뷰 제작에 참여하고 싶으시거나 홈페이지 개발에 기여를 원한다면<br>
                        아래 멤버의 슬랙으로 편하게 연락주세요 :)
                    </p>
                </div>
            </div>
        </div>
    <!-- Members Picture-->
    <div class="container member mb-5 mt-5" style="max-width:960px;">
        <div class="member-item">
            <div class="member-item mx-auto" data-toggle="modal" OnClick="window.open('https://github.com/jwon42')" style="cursor:pointer;">
                <div class="member-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="member-item-caption-content text-center text-white"><i class="fab fa-github fa-2x"></i></div>
                </div>
                <img class="member-img" src="../../static/img/jwon.jpeg" />
            </div>
            <h4 class="text-center">jwon</h4>
            <p class="text-center">
                photographer
            </p>
        </div>
        <div class="member-item">
            <div class="member-item mx-auto" data-toggle="modal" OnClick="window.open('https://github.com/AndroidNetrunner')" style="cursor:pointer;">
                <div class="member-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="member-item-caption-content text-center text-white"><i class="fab fa-github fa-2x"></i></div>
                </div>
                <img class="member-img" src="../../static/img/byukim.jpg" />
            </div>
            <h4 class="text-center">byukim</h4>
            <p class="text-center">
                interviewer
            </p>
        </div>
        <div class="member-item">
            <div class="member-item mx-auto" data-toggle="modal" OnClick="window.open('https://github.com/yeslee-v')" style="cursor:pointer;">
                <div class="member-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="member-item-caption-content text-center text-white"><i class="fab fa-github fa-2x"></i></div>
                </div>
                <img class="member-img" src="../../static/img/yeslee.jpg" />
            </div>
            <h4 class="text-center">yeslee</h4>
            <p class="text-center">
                photographer
            </p>
        </div>
        <div class="member-item">
            <div class="member-item mx-auto" data-toggle="modal" OnClick="window.open('https://github.com/yeonwlee')" style="cursor:pointer;">
                <div class="member-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="member-item-caption-content text-center text-white"><i class="fab fa-github fa-2x"></i></div>
                </div>
                <img class="member-img" src="../../static/img/yeonwlee.jpg" />
            </div>
            <h4 class="text-center">yeonwlee</h4>
            <p class="text-center">
                interviewer
            </p>
        </div>
        <div class="member-item">
            <div class="member-item mx-auto" data-toggle="modal" OnClick="window.open('https://github.com/ohdair')" style="cursor:pointer;">
                <div class="member-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="member-item-caption-content text-center text-white"><i class="fab fa-github fa-2x"></i></div>
                </div>
                <img class="member-img" src="../../static/img/jaewpark.jpg" />
            </div>
            <h4 class="text-center">jaewpark</h4>
            <p class="text-center">
                photographer
            </p>
        </div>
        <div class="member-item">
            <div class="member-item mx-auto" data-toggle="modal" OnClick="window.open('https://github.com/42hm')" style="cursor:pointer;">
                <div class="member-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="member-item-caption-content text-center text-white"><i class="fab fa-github fa-2x"></i></div>
                </div>
                <img class="member-img" src="../../static/img/hmoon.jpg" />
            </div>
            <h4 class="text-center">hmoon</h4>
            <p class="text-center">
                interviewer
            </p>
        </div>
            <div class="member-item">
            <div class="member-item mx-auto" data-toggle="modal" OnClick="window.open('https://github.com/2winyear')" style="cursor:pointer;">
                <div class="member-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="member-item-caption-content text-center text-white"><i class="fab fa-github fa-2x"></i></div>
                </div>
                <img class="member-img" src="../../static/img/seungyel.jpeg" />
            </div>
            <h4 class="text-center">seungyel</h4>
            <p class="text-center">
                interviewer
            </p>
        </div>
        <div class="member-item">
            <div class="member-item mx-auto" data-toggle="modal" OnClick="window.open('https://github.com/joho3116')" style="cursor:pointer;">
                <div class="member-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="member-item-caption-content text-center text-white"><i class="fab fa-github fa-2x"></i></div>
                </div>
                <img class="member-img" src="../../static/img/hojo.jpg" />
            </div>
            <h4 class="text-center">hojo</h4>
            <p class="text-center">
                interviewer
            </p>
        </div>
    </div>
    <div class="mt-5 masthead-heading">
        <div class="container-fluid d-flex align-items-center flex-column">
            <h2 class="masthead-heading mb-2">Alumni</h2>
        </div>
    </div>
    <!-- Members Picture-->
    <div class="container member mb-5 mt-5" style="max-width:960px;">
        <div class="member-item">
           <div class="member-item mx-auto" data-toggle="modal" OnClick="window.open('https://github.com/yechoi42')" style="cursor:pointer;">
                <div class="member-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="member-item-caption-content text-center text-white"><i class="fab fa-github fa-2x"></i></div>
                </div>
                <img class="member-img" src="../../static/img/yechoi.jpeg" />
            </div>
            <h4 class="text-center">yechoi</h4>
            <p class="text-center">
                interviewer
            </p>
        </div>
        <div class="member-item">
            <div class="member-item mx-auto" data-toggle="modal" OnClick="window.open('https://github.com/humblEgo')" style="cursor:pointer;">
                <div class="member-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="member-item-caption-content text-center text-white"><i class="fab fa-github fa-2x"></i></div>
                </div>
                <img class="member-img" src="../../static/img/iwoo.png" />
            </div>
            <h4 class="text-center">iwoo</h4>
            <p class="text-center">
                interviewer
            </p>
        </div>
        <div class="member-item">
            <div class="member-item mx-auto" data-toggle="modal" OnClick="window.open('https://github.com/smok2y')" style="cursor:pointer;">
                <div class="member-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="member-item-caption-content text-center text-white"><i class="fab fa-github fa-2x"></i></div>
                </div>
                <img class="member-img" src="../../static/img/myungkim.jpg" />
            </div>
            <h4 class="text-center">myungkim</h4>
            <p class="text-center">
                interviewer
            </p>
        </div>
    </div>
{% endblock %}