{% extends "base.html" %}
{#{% load bootstrap4 %}#}

{% block contents %}
    <div class="masthead text-secondary container col-lg-8 col-md-10 mx-auto" style="max-width:960px;">
        <a href = "{{ ft_sign_in_url }}">
        <button type="button" class="btn btn-primary">42계정 로그인</button>
        </a>
        <br><br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p style="color: red; font-size: small;">{{ error }}</p>
            <button type="submit" class="btn btn-secondary">로그인</button>
        </form>
    </div>
{% endblock %}
